/* 公共样式 */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, button, dl, dt, dd, input, textarea {
    box-sizing: border-box;
    margin: 0;
    overflow-wrap: break-word;
    padding: 0;
    word-break: break-all;
}
li {list-style:none;}
a {color: #3e3e3e;}

/* 行高 */
.h80 {height: 80px; background: #f0f0f0;}
.h70 {height: 70px; background: #f0f0f0;}
.h60 {height: 60px;}
.h50 {height: 50px;}
.h40 {height: 40px;}
.h30 {height: 30px;}
.h20 {height: 20px;}
.hn10 {height: 10px;}
.h10 {height: 10px;background: #f0f0f0;}
.h6 {height: 3px;background: #f0f0f0;}
.h3 {height: 3px;background: #f0f0f0;}
.h1 {height: 1px;background: #f0f0f0;}

.box {
    display: flex;
}
.box-flex {
    -moz-box-flex: 1;
    flex: 1 1 0;
}
.font1, .font2, .font3, .font4, .font5, h1, h2, h3, h4, h5, p {
    font-weight: 300;
}
.font5, h5 {
    font-size: 1rem;
    line-height: 22px;
}
.bage {
    border: 1px solid #c89664;
    border-radius: 100px;
    color: #c89664;
    display: inline-block;
    line-height: 1;
    padding: 2px 6px;
}

/* Tab bar icons */
i.tabbar-demo-icon-1 {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23929292'><g><circle cx='15.2' cy='8.8' r='1.5'/><polygon points='16.7,12.3 16.7,11.7 16.7,11.3 13.7,11.3 13.7,12.3 14.7,12.3 14.7,20.3 13.7,20.3 13.7,21.3 17.7,21.3 17.7,20.3 16.7,20.3'/><path d='M15.2,2.3C8.3,2.3,2.7,7.9,2.7,14.8s5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5S22.1,2.3,15.2,2.3z M15.2,26.3 c-6.3,0-11.5-5.2-11.5-11.5S8.8,3.3,15.2,3.3s11.5,5.2,11.5,11.5S21.5,26.3,15.2,26.3z'/></g></svg>");
}
.active i.tabbar-demo-icon-1 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 30' fill='%23007aff'><path d='M15,2.6C8.1,2.6,2.5,8.2,2.5,15.1C2.5,22,8.1,27.6,15,27.6S27.5,22,27.5,15.1C27.5,8.2,21.9,2.6,15,2.6z M15,7.6 c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,8.3,14.2,7.6,15,7.6z M17.5,21.6h-4v-1h1v-8h-1v-1h3V12 v0.6v8h1V21.6z'/></svg>");
}
i.tabbar-demo-icon-2 {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23929292'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.4L5.9,1z M24,16H1V7h7.1 c0.5,1.9,2.3,3.4,4.4,3.4s3.9-1.5,4.4-3.4H24V16z'/></svg>");
}
.active i.tabbar-demo-icon-2 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23007aff'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.3L5.9,1z'/></svg>");
}
i.tabbar-demo-icon-3 {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23929292'><path d='M16.8,1c3.7,0,6.8,3,6.8,6.8l0,0.1c0,0,0,0.1,0,0.1l0,1l1,0C27,9,29,11,29,13.5c0,2.5-2,4.5-4.5,4.5H6c-2.8,0-5-2.2-5-5 c0-2.1,1.4-4,3.4-4.7L5,8.1l0.1-0.6C5.3,6,6.5,5,8,5c0.4,0,0.9,0.1,1.3,0.3l0.9,0.5l0.4-0.9C11.8,2.5,14.2,1,16.8,1 M16.8,0 c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4.1,7.3C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5 c0-3-2.5-5.5-5.5-5.5c0-0.1,0-0.2,0-0.2C24.5,3.5,21.1,0,16.8,0L16.8,0z'/></svg>");
}
.active i.tabbar-demo-icon-3 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23007aff'><path d='M24.5,8c0-0.1,0-0.2,0-0.2C24.5,3.5,21,0,16.8,0c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4,7.3 C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5C30,10.5,27.5,8,24.5,8z'/></svg>");
}
i.tabbar-demo-icon-4 {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23929292'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15,0h-5C9.5,0,8.9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M24,17c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V5c0-0.6,0.4-1,1-1h4.2h0.4 l0.3-0.3l1.2-1.2l0,0.1l1.1-1.2C9.5,1.1,9.8,1,10,1h5c0.3,0,0.5,0.1,0.7,0.3l2.4,2.4L18.4,4h0.4H23c0.6,0,1,0.4,1,1V17z'/><path d='M12.5,4C8.9,4,6,6.9,6,10.5c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5C19,6.9,16.1,4,12.5,4z M12.5,16 c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5S18,7.5,18,10.5C18,13.5,15.5,16,12.5,16z'/><path d='M12.5,6C10,6,8,8,8,10.5C8,13,10,15,12.5,15s4.5-2,4.5-4.5C17,8,15,6,12.5,6z M12.5,14C10.6,14,9,12.4,9,10.5 C9,8.6,10.6,7,12.5,7S16,8.6,16,10.5C16,12.4,14.4,14,12.5,14z'/></g></svg>");
}
.active i.tabbar-demo-icon-4 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23007aff'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15.1,0h-5C9.5,0,9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M12.5,16c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5c3,0,5.5,2.5,5.5,5.5 C18,13.5,15.5,16,12.5,16z'/><circle cx='12.5' cy='10.5' r='4.5'/></g></svg>");
}


/******** 公用块 ***********/
.block {background-color: #fff;}
.block .item {height: 50px;line-height: 50px;padding-left: 10px;background-color: #fff;}
.block .item_ico {float: left;width: 30px;padding: 10px 10px 10px 0;}
.block .item_arrow {float: right;width: 16px;padding: 17px 15px 15px 0;}


/****** 首页 ******/
.home .card-content-inner {
    text-align: center;
}
.card-content-inner img {
    width: 100%;
    max-height: 300px;
}
/* Swiper Slider */
.home .swiper-container {
    height: 180px;
}
.home .swiper-slide {
    background: #fff;
    position: relative;
}
.home .swiper-slide img {
    position: absolute;
    left:50%;
    top:50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/********* 分类 *************/
.category .menu-content {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.category .menuwrap {
    -moz-box-flex: 1;
    display: -webkit-box;
}
/* 左栏 */
.category .asidewrap {
    background-color: #efefef;
    height: 100%;
    overflow: hidden;
    width: 85px;
}
.category .taglist {
    width: 100%;
}
.tag {
    color: #656565;
    font-size: 14px;
    height: 61px;
    position: relative;
    text-align: left;
    width: 100%;
}
.category .tag-inner {
    border-bottom: 1px dotted #bfbfbf;
    height: 60px;
    margin: 0 6px;
    position: relative;
}
.category .tag-text {
    -moz-box-orient: vertical;
    box-sizing: border-box;
    display: -webkit-box;
    left: 0;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
    padding-left: 8px;
    position: absolute;
    text-overflow: ellipsis;
    top: 50%;
    transform: translate(0px, -50%);
    width: 100%;
}
.category .tag-num {
    background-color: #ffd300;
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 2px;
    width: 14px;
}
.category .tag-icon {
    margin-right: 4px;
    vertical-align: -2px;
    width: 15px;
}
.category .tag.focus {
    background-color: #fff;
    border-right: 1px solid #fff;
    color: #f99b00;
}
.category .tag.focus .tag-inner {
    border-bottom: 0 none;
}
.category .tag.focus::before {
    background: #ffd300 none repeat scroll 0 0;
    content: "";
    height: 23px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 4px;
}
/* 右栏 */
.category .mainwrap {
    -moz-box-flex: 1;
    background-color: #fff;
    overflow: hidden;
}
.category .foodlist-label {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #656565;
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    margin-left: 9px;
    padding-left: 7px;
}
.category .fooditem {
    border-bottom: 1px solid #f0f0f0;
    margin-left: 9px;
    padding: 15px 0 10px;
    position: relative;
}
.category .foodlist .fooditem:last-child {
    border-bottom: 0 none;
}
.category .fooditem-light {
    background: #fffcf3 none repeat scroll 0 0;
}
.category .food-pic-wrap {
    float: left;
    height: 72px;
    line-height: 72px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 62px;
}
.category .food-pic {
    vertical-align: middle;
}
.category .food-soldout {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    height: 18px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.category .food-cont {
    margin-left: 72px;
}
.category .foodname {
    -moz-box-orient: vertical;
    color: #2f2f2f;
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.25em;
    margin-right: 10px;
    max-height: 2.5em;
    overflow: hidden;
}
.category .food-desc {
    -moz-box-orient: vertical;
    color: #a9a9a9;
    display: -webkit-box;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category .food-content1-sub {
    color: #a9a9a9;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}
.category .food-good {
    margin-left: 4px;
}
.category .food-content2 {
    margin-bottom: 13px;
    padding-top: 5px;
}
.category .food-price-region {
    margin-top: 3px;
}
.category .food-price {
    color: #fe4d3d;
    font-size: 17px;
}
.food-price-gray {
    color: #9b9b9b;
}
.category .food-price-origin {
    color: #cbcbcb;
    font-size: 12px;
    margin-left: 10px;
}
.category .foodop {
    bottom: 10px;
    position: absolute;
    right: 0;
}
.category .foodop-num {
    float: right;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    min-width: 21px;
    text-align: center;
}
.mti .menu-tabs a.selected {
    border-bottom-color: #06c1ae;
    color: #06c1ae;
}
.mti .tag-num {
    background-color: #fdb338;
}
.mti .tag.focus {
    border-left-color: #06c1ae;
    color: #06c1ae;
}
.mti .food-price, .mti .cart-price {
    color: #f90;
}
.mti .cart-btn-unavail .inner {
    background: #a0a0a0 none repeat scroll 0 0;
}
.mti .combtn {
    background: #fdb338 none repeat scroll 0 0;
}
/* 加减号 */
.category .add-food {
    text-align: left;
    width: 35px;
}
.category .add-food, .category .remove-food {
    float: right;
    height: 35px;
}
.category a {
    outline: medium none;
    text-decoration: none;
}
.category i {
    font-style: normal;
}
.category i.i-add-food {
    background-position: -15px 0;
    height: 25px;
    width: 25px;
}
.category i.i-remove-food {
    background-color: white;
    border-radius: 12.5px;
}
.category i.i-remove-food {
    background-position: -15px -28px;
    height: 25px;
    width: 25px;
}
.category i.icon {
    background-image: url("../image/icon_sets.png");
    background-size: 150px 350px;
    display: inline-block;
}


/******** 我的 ********/
/* 头部登陆 */
.my .login {background-image: url('../image/personal_bkg.jpg'); background-repeat: no-repeat; background-size: contain;position: relative; height:100px;}
.my .loginbg {position: absolute; width: 100%; height: 100px;}
.my .login .personal_logo {position:absolute; top:15px; width:70px; left:30px;}
.my .person_arrow {position: absolute; height: 20px; right: 10px; top:38px;}
.my .login .userinfo {position: absolute; top: 15px; margin-left: 120px;}
.my .login .userinfo .title {font-size: 20px; color: #fff;}
.my .login .userinfo .subtitle {font-size: 14px; color: #fff;border: 1px solid #fff;display: inline-block;padding: 3px;border-radius: 4px;margin-top: 8px;}
/* 列表 */
.my .firstblock, .my .secondblock, .my .thirdblock {background-color: #fff;}/* 设置条目 */
.my .item {height: 50px;line-height: 50px;padding-left: 15px;background-color: #fff;}
.my .item_ico {float: left;width: 30px; height:30px; padding: 10px 10px 10px 0;}
.my .item_arrow {float: right;width: 16px;padding: 17px 15px 15px 0;}

/* 全部订单栏 */
.my .menu-list {
    overflow: hidden;
}
.my .menu-list li {
    float: left;
    padding: 0.5em 0;
    text-align: center;
    width: 33.3%;
}
.my .menu-list li a {
    display: block;
    text-decoration: none;
    width: 100%;
}
.my .menu-list li a img {
    display: block;
    height: 1.4em;
    margin: 0 auto;
}
.my .menu-list li p {
    color: #6a6a6a;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
}

/****** 用户登录页 ***********/
.user-login .loginmore {margin-top: 20px;}
.user-login .loginmore span {color: #0078ff;}
.user-login .loginmore .forget {margin-left: 10px;}
.user-login .loginmore .phone {margin-right: 10px;float: right;}

.user-login input {height: 50px;font-size: 18px; color:#8E8C8C; width:70%;}
.user-login input::-webkit-input-placeholder {color: #ccc;}
.user-login .username, .user-login .password {background: #fff;}
.user-login .password img, .username img {vertical-align: top;}
.user-login .item {background-color: #fff; border-bottom: 1px solid #e0e0e0;position: relative; margin-top:30px;}
.user-login .btn {margin:3px 10px;}
.user-login .btn {background: #ff6836;height: 40px; text-align: center; line-height: 40px; font-size: 20px;margin-top: 20px;border-radius: 5px;}
.user-login .username img {width: 25px; margin-top: 15px; margin-left: 10px; margin-right: 9px;}
.user-login .password img {height: 25px;margin-top: 10px; margin-left: 10px;margin-right: 10px;}


/****** 用户注册页 ***********/
.user-signup .loginmore {margin-top: 20px;}
.user-signup .loginmore span {color: #0078ff;}
.user-signup .loginmore .forget {margin-left: 10px; }
.user-signup .loginmore .phone {margin-right: 10px;float: right;}

.user-signup input {height: 50px;font-size: 18px; color:#8E8C8C; width:70%;}
.user-signup input::-webkit-input-placeholder {color: #ccc;}
.user-signup .username, .user-login .password {background: #fff;}
.user-signup .password img, .username img {vertical-align: top;}
.user-signup .item {background-color: #fff; border-bottom: 1px solid #e0e0e0;position: relative; margin-top:30px;}
.user-signup .btn {margin:3px 10px;}
.user-signup .btn {background: #ff6836;height: 40px; text-align: center; line-height: 40px; font-size: 20px;margin-top: 20px;border-radius: 5px;}
.user-signup .username img {width: 25px; margin-top: 15px; margin-left: 10px; margin-right: 9px;}
.user-signup .password img {height: 25px;margin-top: 10px; margin-left: 10px;margin-right: 10px;}


/****** 设置 **************/
.my-setting .item {height: 50px;line-height: 50px;padding-left: 15px;background-color: #fff;}
.my-setting .item_arrow {float: right;width: 16px;padding: 17px 15px 15px 0;}


/****** 商品详情 ***********/
.product-view .font5, .product-view h5 {
    font-size: 1rem;
    line-height: 22px;
}
.product-view .font1, .product-view .font2, .product-view .font3, .product-view .font4, .product-view .font5,
.product-view h1, .product-view h2, .product-view h3, .product-view h4, .product-view h5, .product-view p {
    font-weight: 300;
}
.product-view a, .product-view a:active, .product-view a:hover, .product-view a:link, .product-view a:visited {
    color: #332c2b;
    font-size: 1rem;
    text-decoration: none;
}
.product-view .font-gold {
    color: #c89664;
}
.product-view img {
    vertical-align: middle;
}
.product-view #main {padding-bottom:90px;}
.product-view #nav .collect{
    background: url(../image/collect.png) no-repeat center 4px;
}
.product-view #nav .collect.active, #nav li.active .collect{
    background: url(../image/collect-l.png) no-repeat center 4px;
}
.product-view .hightitem {background-color: #fff;}
.inwrap {padding-right: 15px;padding-left: 15px;}
/* 2. 价格样式 */
.product-view .priceitem .symbol {font-size: 16px; color: #FC5500;}
.product-view .priceitem .price {font-size: 20px; color: #FC5500;}
.product-view .priceitem .o-price {font-size:16px; color: #666;}
.product-view .priceitem .buynow {background-color: #FC5500; color: #fff; height: 25px; line-height: 25px; border-radius: 3px;padding: 10px 20px;margin-top: 7px;}
/* 2. 价格样式 */
.product-view .symbol {font-size: 16px; color: #FC5500;}
.product-view .price {font-size: 20px; color: #FC5500;}
.product-view .o-price {font-size:16px; color: #666;}
/* 3. */
.product-view .brief .title {height: 50px;line-height: 50px;font-size:20px;color: #000;}
.product-view .brief .describe {color: #666;font-size:16px;line-height:23px; padding-bottom:18px;}
.product-view .brief .ico {height: 50px;line-height: 50px;font-size: 14px;color: #7AB388;}
.product-view .brief .ico img {height: 14px;}
/* 4. */
.product-view .goodcomment img {height: 15px;padding-right: 5px;}
/* 5. */
.product-view .shopinfo .right img {height: 36px;}
.product-view .item {background-color: #fff; border-bottom: 1px solid #e0e0e0;position: relative;}
.product-view .item .name {width:40px; margin-top:10px; margin-left: 10px; margin-right: 9px;}
.product-view .select-title {padding:10px 0 0 15px; font-size:18px; border-top: 1px solid #e0e0e0;}
/* 底部工具栏 */
.product-view .toolbar::before {
    height: 0;
}
.product-view .toolbar a {
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-view .bage {
    border: 1px solid #c89664;
    border-radius: 100px;
    color: #c89664;
    display: inline-block;
    line-height: 1;
    padding: 2px 6px;
}
.product-view .shopping-bar .shopcart {
    position: relative;
    width: 58px;
}
.product-view .shopping-bar .shopcart img {
    padding: 14px;
    width: 22px;
}
.product-view .shopping-bar .shopcart .bage {
    background-color: #1d2d61;
    border: 0 none;
    bottom: 10px;
    color: #fff;
    font-size: 0.5em;
    position: absolute;
    right: 3px;
}
.product-view .btn {
    border: medium none;
    display: block;
    height: 38px;
    line-height: 38px;
    width: 100%;
}
.product-view .address-default, .product-view .btn, .product-view .text-center {
    text-align: center;
}
.product-view .btn.btn-gold {
    background-color: #c89664;
    color: #fff;
}
.product-view .btn.btn-blue {
    background-color: #052841;
    color: #c89664;
}
/* 弹出层 */
.product-view .picker-modal {
    background-color: #fff;
    height: auto;
}
.product-view .picker-modal .product-title {
    height: 81px;
    position: relative;
}
.product-view .picker-modal .product-title .close-choose-size, .product-view .picker-modal .product-title h3, .product-view .picker-modal .product-title h5 {
    position: absolute;
}
.product-view .picker-modal .product-title h3 {
    left: 138px;
    top: 10px;
}
.product-view .picker-modal .product-title h5 {
    left: 138px;
    top: 54px;
}
.product-view .picker-modal .product-title .close-choose-size {
    right: 13px;
    top: 13px;
}
.product-view .picker-modal .product-title .close-choose-size img {
    width: 22px;
}
.product-view .picker-modal .product-img {
    border: 1px solid #d7d7d7;
    height: 100px;
    left: 13px;
    position: absolute;
    top: -20px;
    width: 100px;
}
.product-view .picker-modal .size-list {
    margin: 22.5px 13px;
}
.product-view .picker-modal .size-list .size-item {
    margin: 15px 0;
}
.product-view .picker-modal .size-list .size-item span {
    background-color: #f7fafa;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 5px 0 5px 3px;
    min-width: 57px;
    padding: 0 5px;
    text-align: center;
}
.product-view .picker-modal .size-list .size-item.shop-count span {
    font-weight: 700;
    min-width: 25px;
    padding: 0;
}
.product-view .picker-modal .size-list label.title {
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
}
.product-view .picker-modal input[type="radio"] {
    display: none;
}
.product-view .picker-modal input[type="radio"]:checked ~ span {
    border: 1px solid #cb9d71;
    color: #cb9d71;
}
.product-view .picker-modal .shop-count input {
    background-color: #f7fafa;
    border: 0 none;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 40px;
}
